name: Build Geode Mod

permissions:
  contents: write

on:
  workflow_dispatch:
  push:
    branches:
      - '**'

jobs:

  build:
    continue-on-error: true # continue even if build failed for some platform
    strategy:
    
      fail-fast: false
      matrix:
        config:
        - name: Windows
          type: RelWithDebInfo
          os: windows-latest

        - name: macOS
          os: macos-latest

        - name: Android32
          os: ubuntu-latest
          target: Android32

        - name: Android64
          os: ubuntu-latest
          target: Android64

        - name: iOS
          os: macos-latest
          target: iOS
          
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    steps:
      - uses: actions/checkout@v3
      
      - name: Build the mod
        uses: geode-sdk/build-geode-mod@main
        with:
          combine: true
          export-pdb: true
          export-symbols: true
          build-config: ${{ matrix.config.type || 'Release' }}
          target: ${{ matrix.config.target }}
          
  upload:
    name: Package builds
    runs-on: ubuntu-latest
    needs: ['build']
    steps:
          
      - name: "Combine builds"
        uses: geode-sdk/build-geode-mod/combine@main
        id: build
        
      - name: "Upload artifact"
        uses: actions/upload-artifact@v4
        with:
          name: Build Output
          path: ${{ steps.build.outputs.build-output }}
          
      - name: "Set up Git repository"
        uses: actions/checkout@v2

      - name: "Latest Release"
        uses: ncipollo/release-action@v1
        with:
          name: "Latest Release"
          body: |
           Release of success build for latest commit on `${{ github.head_ref || github.ref_name }}`.

           The build workflow run goes in [#${{ github.run_id }}](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})

           ### [[DOWNLOAD MOD]](https://github.com/lil2kki/REMINA/releases/download/release/_lil2kki.remina.geode) | Android, iOS, macOS (manual install)

           ### [[INSTALLER]](https://mega.nz/file/FlkHnKTB#KkZohqamY4_y22kXuE10__6yBbNcuGDDiSop2yPUH-Y) [[ZIP]](https://mega.nz/file/tslzlBDY#PSF9t01NtrgBNGmk3TppVbbE0jQCYSySgnQLJLQuBnE) | Windows full game

          tag: "release"
          prerelease: false
          allowUpdates: true
          artifactErrorsFailBuild: true
          artifacts: "${{steps.build.outputs.build-output}}/*"
